# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# Env
venv/
.env

# Datasets / Models
# data/
# models/

# macOS
.DS_Store
.AppleDouble
.LSOverride
__MACOSX/